@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ablation';
  src: url('@/assets/Font/Ablation.otf') format('truetype');
}

@font-face {
  font-family: 'Glacial';
  src: url('@/assets/Font/Glacial.otf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ablation', sans-serif;
}

p,
a {
  font-family: 'Glacial', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(14, 15, 15);
  transition: 0.4s;
  padding: 3px;
}
.banner {
  height: 300px;
  width: 100%;
}


@media (min-width: 1024px) {}
